nav {
  background-color: #020202;
  width: auto;
  text-align: center;
}

header {
  text-align: center;
}

main {
  width: auto;
  border: 5px solid grey;
}

/*Knapper*/

button {
  background-color: #000000; /* Black */
  border: none;
  color: white;
  margin: 5px;
  padding: 1px 20px;
  text-align: center;
  height: 40px;
  width: 200px;
  font-size: 15px;
  border-radius: 8px;
}

.button.nav {
  background-color: #000000; /* Black */
  border: none;
  color: white;
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000; /* Black */
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 8px;
}

/*Spillområde*/

article {
  width: auto;
  height: auto;
  word-wrap: break-word;
  margin-bottom: 25px;
}

section {
  width: auto;
  height: auto;
  text-align: center;
}

.div.gameshop {
  width: auto;
  height: auto;
  display: flex;
  background-color: rgb(96, 105, 113);
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 50px;
}

.mylib {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 50px;
}

.fav {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
/*responsivt design*/

@media (max-width: 800px) {
  article {
    width: 100%;
    padding: 2%;
    margin: 2%;
    opacity: 1;
  }
}
