
nav {
    background-color: #020202;
    width: auto;
    text-align: center;
  }
  
  button {
    background-color: #000000; /* Black */
    border: none;
    color: white;
    margin: 5px;
    padding: 1px 20px;
    text-align: center;
    height: 40px;
    width: 200px;
    font-size: 15px;
    border-radius: 8px;
  }
  
  .button.nav {
    background-color: #000000; /* Black */
    border: none;
    color: white;
    margin: 5px;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
  }
  
  header {
    text-align: center;
  }
  
  main {
    width: flex;
    border: 5px solid grey;
  }
  
  /* Flexbox - spillområde */
  
  section {
    display: flex;
    width: auto;
    text-align: center;
    grid-template-columns: auto auto auto auto;
  }
  
  section.GAMESHOP {
    background-color: #aca8a8;
    margin: 10px;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
  }
  
  section.MY.GAMES-LIBRARY {
    width: auto;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
  }
  
  section.MY.FAVOURITES {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
  }
  
  .button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; /* Black */
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 8px;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }